*.spec
.vscode
*.db
webBrowserDB.db
.idea
workspace.xml
__pycache__
env
Installer
venv
*.swp
*.un~
main.py~
browser-screenshot.png
build
dist
Installer.exe
*.exe
Installer.zip
webBrowserDB.db
launch.json
Installer-files
settings.json