        QPushButton {
            background-color: #2B5DD1;
            color: #FFFFFF;
            padding: 10px 30px;
            font: bold 14px;
            border-radius: 3px;
        }
        QPushButton:hover {
            background-color: #3769df;
        }
