QLineEdit{
    font-family: \"Segoe UI\";
    padding-top:4px;
    padding-left:8px;
    padding-bottom:4px;
    border:2px solid transparent;
    border-radius:6px;
    font-size:10pt;
    background-color: #ffffff;
    selection-background-color: #66c2ff;
}

QLineEdit:focus{
    border-color:#3696ff;
}

QLineEdit:hover{
    border-color:#d6d6d6
}
