QPushButton#ContextMenuTriggerButn::menu-indicator {
  /* Hide context menu button dropdown icon */
  image: none;
}

QToolBar {
  background-color: #edf4f7;
}

/* Style all contextmenus*/

Qmenu {
  background-color: fff;
}

/* Style right arrow of QMenu */

QMenu::right-arrow {
  image: url(resources/right-arrow-context-menu.png);
  height: 12px;
  width: 12px;
}

QMenu::item {
  /* Styling all context menus */
  background-color: transparent;
  font-size: 10pt;
  padding-left: 10px;
  padding-right: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 120px;
}

QMenu::item:selected {
  background-color: #dedeff;
}

/*
 The three dot menu 
*/

QMenu#ContextMenu,
QMenu#HelpMenu {
  background-color: #fdfdfd;
  border: 1px solid transparent;
  font-family: sans-serif;
  border-radius: 6px;
}

QMenu#ContextMenu::item,
QMenu#HelpMenu::item {
  background-color: transparent;
  font-size: 10pt;
  padding-left: 40px;
  padding-right: 100px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 130px;
}

QMenu#ContextMenu::icon,
QMenu#HelpMenu::icon {
  padding-left: 40px;
}

QMenu#ContextMenu::separator {
  height: 1px;
  background-color: gray;
  margin-left: 0%;
  margin-right: 0%;
}

QMenu#ContextMenu::item:selected,
QMenu#HelpMenu::item:selected {
  background-color: #f2f2f2;
}

/*
 Styling of toolip
*/

QToolTip {
  background-color: #131c21;
  font-size: 10pt;
  opacity: 200;
  color: #f1f1f1;
  padding: 5px;
  border-width: 2px;
  border-style: solid;
  border-radius: 20px;
  border: 2px solid transparent;
}

/* SSLinfo label */

QLabel#SSLIcon {
  /* ssl icon */
  border: 1px solid transparent;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 6px;
  width: 5px;
  height: 5px;
}

/* Button styling */

QPushButton#ContextMenuTriggerButn {
  /* Context menu button */
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 16px;
  width: 10px;
  height: 10px;
  background-color: none;
  margin-left: 5px;
  margin-right: 5px;
}

QPushButton#back_btn {
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 7px;
  width: 10px;
  height: 10px;
  background-color: none;
}

QPushButton#forward_butn {
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 7px;
  width: 10px;
  height: 10px;
  background-color: none;
}

QPushButton#reload_butn {
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 7px;
  width: 10px;
  height: 10px;
  background-color: none;
}

QPushButton#home_button {
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 7px;
  width: 10px;
  height: 10px;
  background-color: none;
}

QPushButton#stop_butn {
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 7px;
  width: 10px;
  height: 10px;
  background-color: none;
}

/*
* after hover
*/

QPushButton#stop_butn:hover {
  background-color: #dce9ef;
}

QPushButton#back_btn:hover {
  background-color: #dce9ef;
}

QPushButton#forward_butn:hover {
  background-color: #dce9ef;
}

QPushButton#reload_butn:hover {
  background-color: #dce9ef;
}

QPushButton#home_button:hover {
  background-color: #dce9ef;
}

QPushButton#ContextMenuTriggerButn:hover {
  background-color: #dce9ef;
}

/*
* after pressed
*/

QPushButton#stop_butn:pressed {
  background-color: #cadfe7;
}

QPushButton#back_btn:pressed {
  background-color: #cadfe7;
}

QPushButton#forward_butn:pressed {
  background-color: #cadfe7;
}

QPushButton#reload_butn:pressed {
  background-color: #cadfe7;
}

QPushButton#home_button:pressed {
  background-color: #cadfe7;
}

QPushButton#ContextMenuTriggerButn:pressed {
  background-color: #cadfe7;
}
