QTabBar{
    background-color:#2E385C;
}

QTabBar::tab {
    background-color: none;
    color: #fff;
    padding: 5px 0px;
    padding-left: 4px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-right:80px;
    max-width:80px;
    text-align: left;
}

QTabBar::tab:!selected{
    background-color: transparent;
}

QTabBar::close-button {                         /* style the tab close button */
    image: url(./resources/icons/closetabbutton.png);
    subcontrol-position: right;
    border: 1px solid transparent;
    border-radius:3px;
}

QTabBar::close-button:hover{                    /* close button hover */
    background-color: #3B2E53;
}

QTabBar::tab:!selected:hover{
    background-color:#222348;
}

QTabBar::tab:selected{                          /* selected tabs */
    background-color: #170733;
}
